# Ignore sandbox and raw data folders
sandbox/*
data_raw/*
data/id_lookup*
*WILL_BE_OVERWRITTEN*
# Temporary
data/*.rds

# Manuscript output
manuscript/*.html
manuscript/*.docx
manuscript/*.pdf
manuscript/*.bib

# Scrivener
manuscript/**/*.pdf
manuscript/Anti-TIP\ NGOs\ and\ US.scriv/*

# R stuff
.Rproj.user
.Rhistory
.RData

# Miscellaneous
*.~lock.*
